@use '../abstracts';

.filter-wrap {
    position: relative;
    z-index: 1;
}

.filter {
    position: absolute;
    right: 0;
    top: 55px;
    padding: 30px;
    border-radius: 20px;
    background-color: #fff;
    filter: drop-shadow(0px 40px 90px rgba(200, 200, 200, 0.40));
    transition: opacity, visibility;
    transition-duration: 0.25s;

    @include abstracts.breakpoint(xl) {
        height: calc(100vh - 315px);
        overflow-y: auto;
        padding-bottom: 0;

    }

    @include abstracts.breakpoint(xl) {
        width: calc(100vw - 50px);

    }

    &.hide {
        opacity: 0;
        visibility: hidden;
    }

    &__arrow {
        position: absolute;
        height: 19px;
        top: -19px;
        right: 13px;
    }

    &__heading {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
        color: #1A162E;
    }

    &__row {
        display: flex;


    }

    &__form {
        margin-top: 30px;

        &-label {
            display: block;
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 145.455%x;

            &--small {
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 142.857%;
                margin-bottom: 10px;
            }

        }

        &-group {
            margin-top: 20px;

            &--inline {
                margin-top: 20px;
                display: flex;
                gap: 30px;
            }
        }

        &-slider {
            position: relative;
            width: 100%;
            height: 2px;
            background-color: #D2D1D6;


            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                translate: 0 -50%;
                width: 22px;
                height: 22px;
                border-radius: 50%;
                border: 6px solid #FFB700;
                background-color: #fff;
            }

            &::before {
                left: 10%;
            }

            &::after {
                left: 60%;
            }
        }

        &-text-input,
        &-select-wrap {
            border-radius: 6px;
            border: 1px solid #D2D1D6;
        }

        &-text-input {
            display: flex;
            align-items: center;
            width: 334px;
            height: 44px;
            padding: 0 16px;
            overflow: hidden;

            &--small {
                padding: 8px 12px;
                border-radius: 6px;
                height: 36px;
                width: 121px;
                border: 1px solid #D2D1D6;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 142.857%;

                @include abstracts.breakpoint(xl) {
                    width: 100%;

                }
            }
        }

        &-input {
            width: 100%;
            font-size: 1.4rem;
            font-weight: 500;

            &::placeholder {
                color: #9E9DA8;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 146.667%;

            }



        }

        &-input-icon {
            display: block;
            margin-left: 12px;
        }

        &-select-wrap {
            display: flex;
            align-items: center;
            height: 48px;
        }

        &-select {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 14px;
            width: var(--width, 108px);
            height: calc(100% - 10px);
            color: #1A162E;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 142.857%;
            cursor: pointer;
        }

        &-select+&-select {
            border-left: 1px solid #D2D1D6;
        }

        &-tags {
            display: flex;
            flex-wrap: wrap;
            gap: 10px 20px;
        }

        &-tag {
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 20px;
            color: #9E9DA8;
            padding: 6px 12px;
            border-radius: 6px;
            background: #F8F8FB;
            transition: color 0.25s;

            &:hover {
                color: #1A162E;
            }
        }
    }

    //End form

    &__separate {
        width: 1px;
        background-color: #EEEEEE;
        margin: 0 30px;

        @include abstracts.breakpoint(xl) {
            width: 100%;
            height: 1px;
            margin: 30px 0;
        }
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        margin-top: 32px;

        @include abstracts.breakpoint(xl) {
            position: sticky;
            padding-bottom: 15px;
            bottom: 0;
            background-color: #fff;

        }
    }

    &__cancel,
    &__submit {
        height: 38px;
        padding: 0 10px;

        @include abstracts.breakpoint(xl) {
            flex: 1;
        }
    }

    &__cancel {
        font-size: 1.5rem;
    }

    &__submit {
        font-size: 1.4rem;
    }

    &__content {
        @include abstracts.breakpoint(xl) {
            flex-direction: column;
        }
    }
}