@use '../abstracts';

*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}



body {
    font-size: 1.6rem;
    font-family: Gordita, sans-serif;
    color: var(--text-color);
    background-color: var(--body-bg-color);
}

a {
    text-decoration: none;
}

input,
button {
    font-family: inherit;
    border: none;
    outline: none;
    background-color: transparent;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

input,
textarea,
select {
    font-family: inherit;
    color: inherit;
}

.icon {
    filter: var(--icon-color);
}

.container {
    @include abstracts.breakpoint(sm) {
        padding-right: 20px;
        padding-left: 20px;
    }
}