<footer class="footer">
    <div class="footer__inner">
        <div class="footer__row">
            <!--Col1-->
            <div class="footer__col">
                <h3 class="footer__heading">SHOP</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link">By Category</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Shop Home</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Mens</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Womens</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Kids</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Classics</a>
                    </li>
                </ul>
            </div>
            <!--Col2-->
            <div class="footer__col">
                <h3 class="footer__heading">SPORTS</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Skate</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Surf</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Women's Surf</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Snow</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">BMX</a>
                    </li>
                </ul>
            </div>
            <!--Col3-->
            <div class="footer__col">
                <h3 class="footer__heading">SUPPORT</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Store Locator</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Order Status</a>
                    </li>
                </ul>
            </div>
            <!--Col4-->
            <div class="footer__col">
                <h3 class="footer__heading">COMPANY</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Customer Service</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Term Of Use</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Privacy</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Careers</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">About</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">CA Supply Chains Act</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Sustainability</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Affiliate</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Recall Info</a>
                    </li>
                </ul>
            </div>
            <!--Col5-->
            <div class="footer__col">
                <h3 class="footer__heading">CONTACT</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Email</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Contact Us</a>
                    </li>
                    <li class="footer__item">
                        <div class="footer__info">
                            <p class="footer__desc">Telephone</p>
                            <p class="footer__desc">036-962-3925</p>
                        </div>

                    </li>
                    <li class="footer__item">
                        <div class="footer__info">
                            <p class="footer__desc">Address</p>
                            <p class="footer__desc">1588 South Coast Dr</p>
                        </div>
                    </li>
                    <li class="footer__item">
                        <div class="footer__info">
                            <p class="footer__desc">Hours</p>
                            <p class="footer__desc">M-F 6:00am-8:00pm PST</p>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__row footer__row-bottom">
            <div class="footer__col">
                <h3 class="footer__heading">STORE LOCATOR</h3>
                <p class="footer__desc">Find a store near you</p>
                <button class="btn btn--primary footer__btn">FIND A STORE</button>
            </div>
            <div class="footer__col">
                <h3 class="footer__heading">FOLLOW ME</h3>
                <div class="footer__socials">
                    <a href="#!"><img src="./assets/icons/Facebook icon.svg" alt="" class="footer__socials-icon"></a>
                    <a href="#!"><img src="./assets/icons/Facebook icon.svg" alt="" class="footer__socials-icon"></a>
                    <a href="#!"><img src="./assets/icons/Facebook icon.svg" alt="" class="footer__socials-icon"></a>
                </div>
            </div>
            <div class="footer__col">
                <h3 class="footer__heading">SUBSCRIBE</h3>
                <p class="footer__desc">Receive products news and updates in your inbox</p>
                <div class="footer__form">
                    <input type="text" name="" id="" class="footer__form-text" placeholder="Email Address">
                    <img src="./assets/icons/arrow-left.svg" alt="" class="footer__form-icon">
                </div>
            </div>
        </div>
    </div>
</footer>